
* {
 box-sizing: border-box; 
 margin: 0;
 padding: 0;
 color:black; 
 font-family: 'Bebas Neue', sans-serif;
 font-size: 30px; 


}

body {
    /* background-image: url(./Images/2842263.jpg); */
    background-repeat: no-repeat;
    overflow-x: hidden;
    background-size:cover;
 
}

.hide {
    display: none;
}

.show {
    display: block;
}

header {
 padding: 50px; 
 margin: 50px; 
 overflow: hidden;  

} 

a:link  {
    text-decoration: none;

}
.time {
 display: inline;
 float: right;
 overflow: hidden; 

}


.card-container {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center; 
 width: 50%;
 height: 45vh; 
 margin: auto;
 overflow: hidden; 
 border-radius: 67px;
 background-color: rgb(255, 251, 251);
 box-shadow: 0 0 10px 2px;
 /* background-image: url(./Images/PhotoRoom_20221113_155357.jpg); */
 background-repeat: no-repeat;

} 


/* QUIZ TITLE ON CARD */
h1 {
 text-align: center;
 font-size: 45px;
 /* margin-top: 1%; */
 margin-bottom: 3%;  
 line-height: 2; 
}

/* QUIZ RULES */
p {
 text-align:center;
 margin: 10px;
 padding: 10px;
 border: 10px;
 width: 75%;
}

/* MAIN PAGE BUTTON STYLE */
#start-button {
 padding: 10px;
 margin: 25px;
 cursor: pointer;
 border-radius: 15px;
 border-color: green;
 background-color: #090404;
 color: white;

}

#start-button:hover {
    background-color: rgb(241, 0, 0);
  }


@media screen and (min-width: 1024px) {
    #start-page-container {
        display: flex;
        margin: 20px auto;
        max-width: 1200;
        padding: 0 20px;
    }

}

@media screen and (min-width: 1024px) {
    #start-page-container {
        width: 50%;
    }
}



button.correct {
    background-color: green;
}

button.wrong {
    background-color: rgb(240, 0, 0);
}